/* Globals */
body,html
{
    height: 100%;
    padding: 0px;
    margin: 0px;
    border: 0px;
}

.no-close .ui-dialog-titlebar-close
{
    display: none;
}

/* Tetris view */
#tetrisPanel
{
    height: 100%;
    width: 100%;    
}

#tetrisMainTable
{
    background-color: #BBBBBB;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
}

#tetrisLeftPanel
{
    vertical-align: top;
}

#tetrisMiddlePanel
{
    height: 100%;    
}

#tetrisRightPanel
{
    height: 100%;
}

#tetrisMiddleCell, #tetrisRightCell
{
    height: 100%;
}

#movementButtonCell
{
    height: auto;
    vertical-align: bottom;
}

#controlButtonCell
{
    height: 1px;
    vertical-align: top;
}

#previewCell, #glassCell
{
}

#scoreCell
{
    height: auto;
    vertical-align: top;
}

#controlButtonTable
{
    width: 100%;
}

#scoreTable
{
    width: 100%;
}

.scoreValue
{
    text-align: right;
}

.movementButton
{
    width: 4em;
}

.controlButton
{
    width: 100%;
}

.conrolCheckbox
{
    font-size: 1em;
    margin: .75em;
}

#dropButton
{
    width: 100%;
}

#previewCanvas
{
}

.canvasCell
{
    padding: 5px;
    vertical-align: top;
    height: 100%;
}

/* High score view */
#highScorePanel
{
    margin: 0 auto;
    border-collapse: collapse;
}

#highScorePanel td
{
    border: thin solid black;
}

.highScoreCell
{
    text-align: center;
    padding: 0px;
}

#highScoreOkButton
{
    margin: .75em;
}

#highScoreTable
{
    border-collapse: collapse;
}

#highScoreTable td, #highScoreTable th
{
    border: 1px solid black;
}

#highScoreTable tr:first-child th
{
    border-top: 0;
}

#highScoreTable tr:last-child td
{
    border-bottom: 0;
}

#highScoreTable tr td:first-child, #highScoreTable tr th:first-child
{
    border-left: 0;
}

#highScoreTable tr td:last-child, #highScoreTable tr th:last-child
{
    border-right: 0;
}

#highScoreTable td
{
    text-align: center;
}