body,html
{
    height: 100%;
    padding: 0px;
    margin: 0px;
    border: 0px;
}

#panel
{
    height: 100%;
    width: 100%;    
}

#mainTable
{
    background-color: #BBBBBB;
    margin-left: auto;
    margin-right: auto;
}

.movementButton
{
    width: 4em;
    height: 3em;
}

.controlButton
{
    height: 3em;
    width: 100%;
}

#movementButtonCell
{
    vertical-align: bottom;
}

#controlButtonTable
{
    width: 100%;
}

#scoreCell
{
    vertical-align: top;    
}

#scoreTable
{
    width: 100%;
}

.scoreValue
{
    text-align: right;
}

#dropButton
{
    width: 100%;
}

#previewCanvas
{
}

.canvasCell
{
    height: 100%;
    padding: 5px;
}